<div class="wrapper">

<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="form-group">
    <input type="email" class="form-control" id="query" placeholder="query" formControlName="query" required>
  </div>
  <div class="form-group">
    <select class="form-control" id="search" formControlName="search" required>
      <option value="" selected disabled>search</option>
      <option value="google">google</option>
      <option value="bing">bing</option>
      <option value="ask">ask</option>
    </select>
  </div>
  <button 
    class="btn btn-success" 
    type="submit"
    [disabled] = "form.invalid"
  >send</button>
</form>
</div>
